@font-face {
  font-family: "Cinzel_Decorative";
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf");
}

.enter-button,
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

h1,
h3 {
  font-family: "Cinzel_Decorative", sans-serif;
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}

/*-------------------------------------------------------------*/

/* Media query for small screens*/
@media (max-width: 767px) {
  /* Hide the regular navbar */
  .navbar {
    display: none;
  }

  /* Show the hamburger menu */
  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu.open {
    margin-bottom: 3rem;
  }

  .menu-item {
    font-size: 1.6rem;
  }

  .home-title h1 {
    font-size: 2rem;
  }

  .home-title h3 {
    font-size: 1.1rem;
  }

  button img,
  .button img {
    width: 10rem;
  }
}

/*----------------------------------------------*/

/* Media query for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .hamburger-menu {
    display: none;
  }

  .nav-list {
    margin-top: 3rem;
  }
  .home-title h1 {
    font-size: 2rem;
  }

  .home-title h3 {
    font-size: 1.1rem;
  }

  button img,
  .button img {
    width: 13rem;
  }
}

/*-------------------------------------------------------------*/

/* Media query for small screens*/
@media (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }

  .nav-list {
    margin-top: 3rem;
  }
  .home-title h1 {
    font-size: 4.45rem;
  }

  .home-title h3 {
    font-size: 2rem;
  }

  button img,
  .button img {
    width: 19rem;
  }

  li .nav-link {
    font-size: 1.8rem;
  }
}
