@font-face {
  font-family: "Cinzel_Decorative";
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf");
}

body {
  overflow: auto;
}

.enter-button,
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

h1,
h3 {
  font-family: "Cinzel_Decorative", sans-serif;
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}
