@font-face {
  font-family: "Sansita";
  src: url("../fonts/Sansita/Sansita-Regular.ttf");
}

@font-face {
  font-family: "Cinzel_Decorative";
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf");
}

@font-face {
  font-family: "Nothing you can do";
  src: url("../fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf");
}
.zodiac-signs {
  height: 100vh;
  padding-top: 4rem;
}

h2 {
  color: rgb(253, 253, 253);
  font-family: "Cinzel_Decorative", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.zodiac-buttons {
  margin: 0 7rem;
  text-align: center;
  padding: 2rem 0;
}

.btn-sign {
  color: bisque;
  font-family: "Sansita";
  transition: color 0.3s;
}

.btn-sign:hover {
  color: rgb(143, 88, 194);
  animation: sparkle 1s ease-in-out infinite; /* Apply sparkle animation */
}
/* Define the sparkle animation */
@keyframes sparkle {
  0%,
  100% {
    transform: scale(1); /* Initial and final state */
  }
  50% {
    transform: scale(1.1); /* Scaled state for sparkle effect */
  }
}

.sign-info {
  color: antiquewhite;
  font-family: "Sansita";
  text-align: center;
  line-height: 1.5;
  padding: 0 5rem;
}

.zodiac-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


