/* ------------------------------------------------------ */

@media screen and (max-width: 375px) {
  /* Hide the regular navbar */
  nav {
    display: none;
  }

  /* Show the hamburger menu */
  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu.open {
    margin-bottom: 1rem;
  }
  .hamburger-menu.open {
    margin: 0.7rem;
  }

  .menu-item {
    font-size: 1.5rem;
  }
  .home-title {
    margin-top: -5rem;
  }
  .home-title h1 {
    font-size: 1.6rem;
  }

  .home-title h3 {
    font-size: 1.2rem;
  }
  .enter-button img {
    width: 7rem;
  }

  li.menu-item {
    font-size: 1.2rem;
  }

  .footer-container .footer-text {
    font-size: 0.8rem;
  }

  button img,
  .button img {
    width: 7.5rem;
  }
  .home-title .title {
    font-size: 1.3rem;
  }
  .options {
    margin-top: 4rem;
  }
  .tarot-card {
    width: 6rem;
  }
  .card-meaning {
    padding-top: 35rem;
    margin-bottom: 20rem;
  }
  .meaning {
    font-size: 1rem;
  }
  .btn-sign {
    font-size: 1.6rem;
    padding: 0.3rem 0.2rem;
  }
  .zodiac-signs {
    margin: 4rem 2rem 10rem 2rem;
    padding: 0.4rem;
  }
  .zodiac-signs h2 {
    font-size: 1.6rem;
  }
  .zodiac-buttons {
    padding: 0;
    margin: 1rem 4rem 1rem 4rem;
  }

  .zodiac-form label {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .zodiac-form #birthdate {
    font-size: 1.1rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  .zodiac-form button {
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: bold;
  }

  .zodiac-content {
    margin: 2rem 2rem 10rem 2rem;
    font-size: 1rem;
  }
  .zodiac-content h2 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .zodiac-content a {
    padding-top: 0.4rem;
  }

  .zodiac-content .sign-info {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
  }
}

/* ------------------------------------------------------ */

@media screen and (min-width: 376px) and (max-width: 543px) {
  /* Hide the regular navbar */
  nav {
    display: none;
  }

  /* Show the hamburger menu */
  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu.open {
    margin-bottom: 1rem;
  }
  .hamburger-menu.open {
    margin: 0.7rem;
  }

  .enter-button img {
    width: 9rem;
  }

  li.menu-item {
    font-size: 1.4rem;
  }

  .footer-container .footer-text {
    font-size: 0.8rem;
  }

  .home-title h1 {
    font-size: 2rem;
  }

  .home-title h3 {
    font-size: 1.3rem;
  }

  button img,
  .button img {
    width: 9.3rem;
  }
  .card-meaning {
    margin-top: 5rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
  .meaning {
    font-size: 1.1rem;
  }
  .btn-sign {
    font-size: 2.1rem;
    padding: 1rem 0.2rem;
  }
  .zodiac-signs {
    margin-top: 7rem;
  }
  .zodiac-signs h2 {
    font-size: 2.6rem;
  }
  .zodiac-form {
    margin-top: 14rem;
  }
  .zodiac-content {
    margin: 10rem 2rem 10rem 2rem;
    font-size: 1rem;
  }
  .zodiac-content h2 {
    font-size: 2.1rem;
  }
  .zodiac-content a {
    padding-top: 2rem;
  }
}

/* ------------------------------------------------------ */

@media screen and (min-width: 544px) and (max-width: 767px) {
  nav {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    margin-top: 2rem;
  }
  a.nav-link {
    font-size: 1.2rem;
  }
  li.nav-item {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .home-title h1 {
    font-size: 2rem;
  }

  .home-title h3 {
    font-size: 1.2rem;
  }

  button img,
  .button img {
    width: 10rem;
  }
  .card-meaning {
    margin-top: 5rem;
    padding-top: 17rem;
    padding-bottom: 5rem;
  }
  .meaning {
    font-size: 1.3rem;
  }
  .btn-sign {
    font-size: 2.1rem;
    padding: 1rem 0.2rem;
  }
  .zodiac-signs {
    margin-top: 7rem;
  }
  .zodiac-signs h2 {
    font-size: 2.6rem;
  }
  .zodiac-form {
    margin-top: 15rem;
  }
  .zodiac-content {
    margin: 10rem 2rem 11rem 2rem;
    font-size: 1.1rem;
  }
  .zodiac-content h2 {
    font-size: 2.3rem;
  }
  .zodiac-content a {
    padding-top: 2rem;
  }
  .footer-container .footer-text {
    font-size: 0.8rem;
  }
}
/* ------------------------------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    margin-top: 2.3rem;
  }
  a.nav-link {
    font-size: 1.6rem;
  }
  li.nav-item {
    padding: 0.7rem;
    margin: 0.7rem;
  }

  .home-title h1 {
    font-size: 2.7rem;
  }

  .home-title h3 {
    font-size: 1.6rem;
  }

  button img,
  .button img {
    width: 12rem;
  }
  .card-meaning {
    margin-top: 15rem;
    padding-bottom: 5rem;
  }
  .meaning {
    font-size: 1.5rem;
  }

  .zodiac-signs {
    margin-top: 5rem;
  }
  .zodiac-signs h2 {
    font-size: 3rem;
  }

  .btn-sign {
    font-size: 2.8rem;
    padding: 1rem 0.2rem;
  }
  .zodiac-form {
    margin-top: 18rem;
  }

  .zodiac-form label {
    font-size: 3rem;
    font-weight: bold;
  }

  .zodiac-form #birthdate {
    font-size: 2rem;
    padding: 0.4rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  .zodiac-form button {
    font-size: 2rem;
    padding: 5px 10px;
    font-weight: bold;
  }

  .zodiac-content {
    margin: 10rem 2rem 11rem 2rem;
    font-size: 1.6rem;
  }
  .zodiac-content h2 {
    font-size: 2.6rem;
  }
  .zodiac-content a {
    padding-top: 2rem;
  }
  .zodiac-content .sign-info {
    padding: 0 8rem 0 8rem;
  }
  .btn-read-more img {
    width: 15rem;
  }
  .btn-choose-sign img {
    width: 15rem;
  }
}

/* ------------------------------------------------------ */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  nav {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    margin-top: 2.6rem;
  }
  a.nav-link {
    font-size: 1.9rem;
  }
  li.nav-item {
    padding: 0.9rem;
    margin: 0.9rem;
  }

  .home-title {
    margin-top: 5rem;
  }
  .home-title h1 {
    font-size: 3rem;
  }

  .home-title h3 {
    font-size: 1.8rem;
    padding: 2rem;
  }

  button img,
  .button img {
    width: 16rem;
  }

  .title {
    margin-top: 0;
  }
  .card-meaning {
    margin-top: 15rem;
    padding-bottom: 5rem;
  }
  .meaning {
    font-size: 1.8rem;
  }
  img.tarot-card {
    width: 12rem;
  }

  div.home-title {
    margin: 0;
  }
  .zodiac-signs {
    margin-top: 5rem;
  }
  .zodiac-signs h2 {
    font-size: 3.3rem;
  }

  .btn-sign {
    font-size: 2.8rem;
    padding: 1rem 2rem 1rem 3rem;
  }

  .zodiac-content {
    margin: 9rem 3rem 11rem 3rem;
    font-size: 1.7rem;
  }
  .zodiac-content h2 {
    font-size: 2.8rem;
  }
  .zodiac-content a {
    padding-top: 2rem;
  }
  .zodiac-content .sign-info {
    padding: 0 8rem 0 8rem;
  }

  .zodiac-form {
    margin-top: 17rem;
  }

  .zodiac-form label {
    font-size: 3.5rem;
    font-weight: 800;
  }

  .zodiac-form #birthdate {
    font-size: 2rem;
    padding: 0.7rem 0.5rem;

    width: 96%;
  }

  .zodiac-form button {
    font-size: 2rem;
    padding: 5px 10px;
    font-weight: bold;
  }

  .btn-read-more img {
    width: 15rem;
  }
  .btn-choose-sign img {
    width: 15rem;
  }
}

/* ------------------------------------------------------ */

/* Styles for Standard Laptop and Desktop Screens */
@media screen and (min-width: 1366px) and (max-width: 1920px) {
  nav {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    margin-top: 2.6rem;
  }
  a.nav-link {
    font-size: 2rem;
  }
  li.nav-item {
    padding: 0.9rem 5rem;
    margin: 0.9rem;
  }

  .home-title h1 {
    font-size: 4.8rem;
  }

  .home-title h3 {
    font-size: 2rem;
    padding: 2rem;
  }

  button img,
  .button img {
    width: 17rem;
  }

  h1.title {
    font-size: 3rem;
  }
  .card-meaning {
    margin-top: 15rem;
    padding-bottom: 5rem;
  }
  .meaning {
    font-size: 2rem;
  }
  img.tarot-card {
    margin: 6rem 0 1rem;
    width: 13rem;
  }

  div.home-title {
    margin: 0;
  }
  .zodiac-signs {
    margin-top: 5rem;
  }
  .zodiac-signs h2 {
    font-size: 3.5rem;
  }

  .btn-sign {
    font-size: 2.9rem;
    padding: 1rem 3rem 1rem 3rem;
  }

  .zodiac-content {
    margin: 9rem 6rem 11rem 6rem;
    font-size: 1.9rem;
  }
  .zodiac-content h2 {
    font-size: 3rem;
  }
  .zodiac-content a {
    padding-top: 2rem;
  }
  .zodiac-content .sign-info {
    padding: 0 8rem 0 8rem;
  }

  .zodiac-form {
    margin-top: 15rem;
  }

  .zodiac-form label {
    font-size: 3.5rem;
    font-weight: 800;
  }

  .zodiac-form #birthdate {
    font-size: 2rem;
    padding: 0.7rem 0.7rem;

    width: 90%;
  }

  .zodiac-form button {
    font-size: 2rem;
    padding: 5px 10px;
    font-weight: bold;
  }

  .btn-read-more img {
    width: 17rem;
  }
  .btn-choose-sign img {
    width: 17rem;
  }
}

/* ------------------------------------------------------ */

/* Styles for High-Resolution Desktop Monitors (4K and beyond) */
@media screen and (min-width: 1921px) {
  nav {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    margin-top: 2.6rem;
  }
  a.nav-link {
    font-size: 2rem;
  }
  li.nav-item {
    padding: 0.9rem 5rem;
    margin: 0.9rem;
  }

  .home-title h1 {
    font-size: 4.8rem;
  }

  .home-title h3 {
    font-size: 2rem;
    padding: 2rem;
  }

  button img,
  .button img {
    width: 17rem;
  }

  h1.title {
    font-size: 3rem;
  }
  .card-meaning {
    margin-top: 15rem;
    padding-bottom: 5rem;
  }
  .meaning {
    font-size: 2rem;
  }
  img.tarot-card {
    margin: 6rem 0 1rem;
    width: 13rem;
  }

  div.home-title {
    margin: 0;
  }
  .zodiac-signs {
    margin-top: 5rem;
  }
  .zodiac-signs h2 {
    font-size: 3.5rem;
  }

  .btn-sign {
    font-size: 2.9rem;
    padding: 1rem 3rem 1rem 3rem;
  }

  .zodiac-content {
    margin: 9rem 6rem 11rem 6rem;
    font-size: 1.9rem;
  }
  .zodiac-content h2 {
    font-size: 3rem;
  }
  .zodiac-content a {
    padding-top: 2rem;
  }
  .zodiac-content .sign-info {
    padding: 0 8rem 0 8rem;
  }

  .zodiac-form {
    margin-top: 15rem;
  }

  .zodiac-form label {
    font-size: 3.5rem;
    font-weight: 800;
  }

  .zodiac-form #birthdate {
    font-size: 2rem;
    padding: 0.7rem 0.7rem;

    width: 90%;
  }

  .zodiac-form button {
    font-size: 2rem;
    padding: 5px 10px;
    font-weight: bold;
  }

  .btn-read-more img {
    width: 17rem;
  }
  .btn-choose-sign img {
    width: 17rem;
  }
}
